<div style="margin-top:50px;"></div>
<div>
    <h2><span>Hero Image Component</span></h2>
    <div data-sly-resource="${ @path='hero',resourceType='hertz/components/content/hero'}" data-sly-unwrap></div>
</div>
<div>
<div data-sly-resource="${ @path='browsepartners',resourceType='hertz/components/content/browsepartners'}" data-sly-unwrap></div>
</div>
<div>
    <h2><span>Configurable Text Paragaph System</span></h2>
    <div data-sly-resource="${ @path='configtext-parsys',resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>
</div>

<div>
    <h2><span>#1 Marketing Slot</span></h2>
    <div data-sly-resource="${ @path='marketingslot1',resourceType='wcm/foundation/components/responsivegrid'}" data-sly-unwrap ></div>
</div>

<div>
    <h2><span>#2 Marketing Slot</span></h2>
    <div data-sly-resource="${ @path='marketingslot2',resourceType='wcm/foundation/components/responsivegrid'}" data-sly-unwrap></div>
</div>