<div style="margin-top:50px;"></div>
<h2>This is a Generic Hybrid Page template</h2>
<br>
<h2><span>Hero Image Component</span></h2>
<div>
<div data-sly-resource="${ @path='hero',resourceType='hertz/components/content/hero'}" data-sly-unwrap></div>
</div>
<h2><span>Parsys - Please add the config/data component here</h2></span>
<div data-sly-resource="${ @path='configtext-parsys',resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>

<h2><span> Please add the marketing components </h2></span>
<div data-sly-resource="${ @path='marketingslot1',resourceType='wcm/foundation/components/responsivegrid'}" data-sly-unwrap></div>
