<p><b>Hertz Header Component</b></p>

        <div>
			<div data-sly-resource="${ @path='logo',resourceType='/apps/hertz/components/content/header/logo'}" data-sly-unwrap></div>
        </div>
        <br>
        <div>
			<div data-sly-resource="${ @path='headersearch',resourceType='/apps/hertz/components/content/header/headersearch'}" data-sly-unwrap></div>
        </div>
                <br>
                <div >
			<div data-sly-resource="${ @path='chat',resourceType='/apps/hertz/components/content/header/chat'}" data-sly-unwrap></div>
        </div>

		<br>
          <div>
			<div data-sly-resource="${ @path='login',resourceType='/apps/hertz/components/content/header/login'}" data-sly-unwrap></div>
        </div>
        <br>

		<div>
			<div data-sly-resource="${ @path='logout',resourceType='/apps/hertz/components/content/header/logout'}" data-sly-unwrap></div>
        </div>
        <br>
        <div>
			<div data-sly-resource="${ @path='menubar',resourceType='/apps/hertz/components/content/header/menubar'}" data-sly-unwrap></div>
        </div>
        <br>
          <div>
			<div data-sly-resource="${ @path='authenticatedFlyoutComponent',resourceType='/apps/hertz/components/content/header/authenticatedFlyoutComponent'}" data-sly-unwrap></div>
        </div>
        <br>
  