<div>
    <h2><span>Hero Image Component</span></h2>
    <div data-sly-resource="${ @path='hero',resourceType='hertz/components/content/locationdirectoryhero'}" data-sly-unwrap></div>
</div>
<div>
	<h2><span>Parsys - Please drag and drop data/pair components here</span></h2>
	<div data-sly-resource="${ @path='configtext-parsys',resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>
</div>
<div>
	<h2><span>Content Slot-1 : Please drag and drop marketing content here</span></h2>
	<div data-sly-resource="${ @path='contentslot1',resourceType='wcm/foundation/components/responsivegrid'}" data-sly-unwrap></div> 
</div>
<div>
	<h2><span>Content Slot-2 : Please drag and drop marketing content here</span></h2>
	<div data-sly-resource="${ @path='contentslot2',resourceType='wcm/foundation/components/responsivegrid'}" data-sly-unwrap></div> 
</div>