
<div class="rowNew" style="margin-top:10px;margin-left:20px">
    <div data-sly-test="${ !properties.airlineTrainCarrierCode && wcmmode.edit}" data-sly-unwrap="${!wcmmode.edit}">
        Please configure the Airline Train Carrier component.<br>
    </div>
    <div data-sly-test="${properties.airlineTrainCarrierCode}" data-sly-unwrap >
        <b>Airline Train Carrier Code: </b><sly data-sly-test="${properties.airlineTrainCarrierCode}">${properties.airlineTrainCarrierCode}</sly><br>
        <b>Airline Train Carrier Name: </b>${properties.airlineTrainCarrierName}<br>
    </div>
</div>

