<sly data-sly-test="${wcmmode.edit || wcmmode.design }" data-sly-unwrap>
    <pre>Click here to edit Table A Header  </pre>
	<div class="container-fluid" data-sly-use.grid="grid.js">
    	<div class="row">

			<div class='table-pattern-a'>
				<table>
				  <tr class='table-pattern-a-web-section'>
			
					<sly data-sly-list="${grid.headers}" data-sly-unwrap>
							<th>
										${item}  &nbsp;&nbsp;&nbsp;
							</th>
					</sly> 
			
				  </tr>
				  <div class='table-pattern-a-mobile-section'>
					<sly data-sly-list="${grid.headers}" data-sly-unwrap>		
						<div>${item}</div>		
					</sly>
				  </div>
				</table>
				<sly data-sly-resource="${'tablePar' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap>
					</sly>
				
			  
			</div>
		</div>
	</div>
</sly>
<div data-sly-test="${!(wcmmode.edit || wcmmode.design) }" data-sly-unwrap>
    <div class='table-pattern-a' data-sly-use.grid="grid.js">
    <table>
     <tr class='table-pattern-a-web-section'>

	      <sly data-sly-list="${grid.headers}" data-sly-unwrap>
				<th>
							${item}
				</th>
			</sly> 

      </tr>
      <div class='table-pattern-a-mobile-section'>


          <sly data-sly-list="${grid.headers}" data-sly-unwrap>

							<div>${item}</div>
				
		  </sly>
      </div>
      	<div data-sly-resource="${'tablePar' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap>
		</div>
    </table>
  </div>
</div>