<div data-sly-test="${(wcmmode.edit || wcmmode.design)}" data-sly-unwrap>
    <pre>Click here to edit Table - C row  </pre>
<sly  data-sly-use.row="rowsC.js">
    <table >
    <tr>	 
			<table> <sly data-sly-list="${row.header}">
              <th>
                    ${item} &nbsp;&nbsp;&nbsp;
               </th>
             </sly></table>
                 <div data-sly-list="${row.td}" data-sly-unwrap>
                     <td>${item @context='html'}</td>
                 </div>
			</tr>
	</table>
 </sly>
</div>
<div data-sly-test="${!(wcmmode.edit || wcmmode.design)}" data-sly-unwrap>
<sly  data-sly-use.row="rowsC.js">
    <tr>	 
             <div data-sly-list="${row.td}" data-sly-unwrap>
                 <td>${item @context='html'}</td>
 			 </div>
	 </tr>


 </sly>
</div>
 