<sly data-sly-use.secretsPair="com.hertz.digital.platform.use.SecretsUse" data-sly-unwrap/>
<div class="rowNew" style="margin-top:10px;margin-left:20px">
    <div data-sly-test="${ !secretsPair.secretsBeanList && wcmmode.edit}" data-sly-unwrap="${!wcmmode.edit}">
        Please configure the Secrets Component.
    </div>
    <div data-sly-test="${properties.dirPath}" data-sly-unwrap>
			 <b>File Path: </b><sly data-sly-test="${properties.dirPath}">${properties.dirPath}</sly><br>
    </div>
    <div data-sly-test="${secretsPair.secretsBeanList}" data-sly-list.items="${secretsPair.secretsBeanList}" data-sly-unwrap>
			 <b>Key:</b><sly data-sly-test="${items.key}">${items.key}</sly><br>
			 <b>Value:</b><sly data-sly-test="${items.value}">${items.value}</sly><br>
    </div>
</div>

