<p><b>Configured Attributes</b></p>
Please configure required attributes in the page properties in the dialog if required.<br>
<div style="margin-top:50px;"></div>

<h2><span>Hero Image Component</span></h2>
<div data-sly-resource="${ @path='hero',resourceType='hertz/components/content/hero'}" data-sly-unwrap></div>

<h2><span>Parsys - Please add the config/data component here</h2></span>
<div data-sly-resource="${ @path='configtext-parsys',resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>

<h2><span>Native-Parsys - Please add the native mobile components here</h2></span>
<div data-sly-resource="${ @path='native-parsys',resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>

<h2><span>Marketing Slot-1 : Please add the marketing components required in the marketing slot 1 here.</h2></span>
<div data-sly-resource="${ @path='marketingslot1',resourceType='wcm/foundation/components/responsivegrid'}" data-sly-unwrap></div>

<h2><span>Marketing Slot-2 : Please add the marketing components required in the marketing slot 2 here.</h2></span>
<div data-sly-resource="${ @path='marketingslot2',resourceType='wcm/foundation/components/responsivegrid'}" data-sly-unwrap></div>