<p><b>Configured Attributes</b></p>
Please configure required attributes in the page properties in the dialog if required.<br>
<div>
    <h2><span>Hero Image Component</span></h2>
    <div data-sly-resource="${ @path='hero',resourceType='hertz/components/content/locationdirectoryhero'}" data-sly-unwrap></div>
</div>
<div>
<h2><span>Parsys - Please add the config/data component here</span></h2>
<div data-sly-resource="${ @path='configtext-parsys',resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>
</div>
<div>
<h2><span>Content Slot : Please add the marketing components required in the content slot  here.</span></h2>
<div data-sly-resource="${ @path='responsivegrid',resourceType='wcm/foundation/components/responsivegrid'}" data-sly-unwrap></div>
</div>
<!--Content Slot2 : Please add the marketing components required in the content slot - 2 here.
<div data-sly-resource="${ @path='contentslot2',resourceType='wcm/foundation/components/responsivegrid'}" data-sly-unwrap></div> -->