WebContent
./tsconfig.json
.classpath
.settings/org.eclipse.wst.common.component
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries
.DS_Store
/target/
*~
*.class
*.bak
*.log.*
*.log
.vlt
/bin
/ui.apps/.settings/*.prefs
*.iml
