.image-header {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 32px 0 40px 0;
}

.header-section-patterna {
  width: 100%;
  font-family: 'Ride';
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.content-section {
  flex: 1;
  color: #000;
  font-family: 'Ride';
  font-size: 16px;
  line-height: 22px;
  padding: 0 30px 0 60px;
}

.heading-divider {
  border: 1px solid #d7d8d8;
  margin: 12px 0 16px 0;
  width: 100%;
}

@media(max-width: 768px) {
  .image-header {
    flex-flow: column;
  }

  .image-section-header {
    order: 1;
    flex: 0;
  }

  .image-section-header img {
    width: 100%;
  }

  .content-section {
    order: 3;
    flex: 0;
    padding-left: 20px;
  }

  .header-section-patterna {
    order: 2;
    flex: 0;
  }
}
