.content-card-pattern-a5 {
  border: 1px solid #d7d8db;
  border-radius: 2px;
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 15px;
}
.content-card-pattern-a5 > a {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  min-height: 278px;
  overflow: hidden;
  position: relative;
}
.content-card-pattern-a5 > a:hover {
  text-decoration: none;
}
.content-card-pattern-a5 h1,
.content-card-pattern-a5 p {
  margin: 0;
}
.content-card-pattern-a5 .content-card-image {
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.content-card-pattern-a5 .content-card-image .card-image {
  height: 100%;
}
.content-card-pattern-a5 .content-card-data-section {
  padding: 32px 24px;
  position: relative;
  z-index: 1;
}
.content-card-pattern-a5 .content-card-data-section .content-card-badge {
  background: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  display: inline;
  padding: 1px 10px;
  text-align: center;
}
.content-card-pattern-a5 .content-card-data-section .content-card-badge span {
  color: #000;
  font-family: "RideSemibold";
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}
.content-card-pattern-a5 .content-card-data-section .content-card-headline {
  color: #fff;
  font-family: "RideLight";
  font-size: 3rem;
  line-height: 3.6rem;
  text-transform: uppercase;
}
.content-card-pattern-a5 .content-card-data-section .heading-lbl1 {
  color: #fc0;
  padding: 0;
}
.content-card-pattern-a5 .content-card-data-section .heading-lbl2 {
  color: #fff;
  padding: 0;
}
.content-card-pattern-a5 .content-card-data-section .headline3 {
  color: #000;
  font-family: "RideSemibold";
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #fff;
}

.content-card-pattern-a5 .content-card-data-section p {
	color: #fff;
}
.content-card-pattern-a5 .content-card-button-section {
  /*background: #000;*/
  border: 1px solid #fff;
  bottom: 45px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 32px 24px;
  /*position: relative;*/
  text-align: right;
}
.content-card-pattern-a5 .content-card-button-section button {
  background: #000;
  border: 1px solid #fff;
  bottom: 45px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  height: 56px;
  opacity: 0.7;
  padding: 16px 32px;
}
.content-card-pattern-a5 .content-card-button-section button:hover {
  color: #fff;
  text-decoration: none;
}
.content-card-pattern-a5 .content-card-button-section .headline3 {
  color: #000;
  font-family: "RideSemibold";
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #fff;
}

.grid-col-lg-4 .content-card-pattern-a5,
.grid-col-med-4 .content-card-pattern-a5,
.grid-col-lg-3 .content-card-pattern-a5 {
  overflow: hidden;
}
.grid-col-lg-4 .content-card-pattern-a5 > a,
.grid-col-med-4 .content-card-pattern-a5 > a,
.grid-col-lg-3 .content-card-pattern-a5 > a {
  flex-flow: column;
  min-height: 278px;
  position: relative;
}
.grid-col-lg-4 .content-card-pattern-a5 .content-card-data-section .content-card-headline,
.grid-col-med-4 .content-card-pattern-a5 .content-card-data-section .content-card-headline,
.grid-col-lg-3 .content-card-pattern-a5 .content-card-data-section .content-card-headline {
  color: #fff;
  font-family: "RideLight";
  font-size: 3rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  padding: 4px 0;
}
.grid-col-lg-4 .content-card-pattern-a5 .content-card-data-section .content-card-headline span,
.grid-col-med-4 .content-card-pattern-a5 .content-card-data-section .content-card-headline span,
.grid-col-lg-3 .content-card-pattern-a5 .content-card-data-section .content-card-headline span {
  display: block;
}
.grid-col-lg-4 .content-card-pattern-a5 .content-card-button-section,
.grid-col-med-4 .content-card-pattern-a5 .content-card-button-section,
.grid-col-lg-3 .content-card-pattern-a5 .content-card-button-section {
  width: 100%;
}
.grid-col-lg-4 .content-card-pattern-a5 .content-card-button-section button,
.grid-col-med-4 .content-card-pattern-a5 .content-card-button-section button,
.grid-col-lg-3 .content-card-pattern-a5 .content-card-button-section button {
  width: 100%;
}

.grid-col-lg-6 .content-card-headline span {
  display: block;
}

@media (min-width: 0px) and (max-width: 767px) {
  div[class*=grid-col-] .content-card-pattern-a5 {
    overflow: hidden;
  }
  div[class*=grid-col-] .content-card-pattern-a5 > div[class*=grid-col-] .content-card-pattern-a5 {
    flex-flow: column;
    height: 278px;
    max-height: 278px;
    position: relative;
  }
  div[class*=grid-col-] .content-card-pattern-a5 .content-card-image .card-image {
    height: auto;
    left: 0;
    position: absolute;
    width: 100%;
  }
  div[class*=grid-col-] .content-card-pattern-a5 .content-card-data-section .content-card-headline {
    color: #fff;
    font-family: "RideLight";
    font-size: 3rem;
    line-height: 3.6rem;
    text-transform: uppercase;
    padding: 4px 0;
  }
  div[class*=grid-col-] .content-card-pattern-a5 .content-card-data-section .content-card-headline span {
    display: block;
  }
  div[class*=grid-col-] .content-card-pattern-a5 .content-card-button-section {
    width: 100%;
  }
  div[class*=grid-col-] .content-card-pattern-a5 .content-card-button-section button {
    width: 100%;
  }
}
